@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans " sans-serif;
}

.cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1440px;
  box-sizing: content-box;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 0px 70px 0px 70px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.header img {
  width: 170px;
  height: 16px;
}
.header .header1 {
  display: flex;
  gap: 37px;
}
.header li {
  list-style: none;
  color: #000;
  display: flex;
  align-items: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.header li a {
  text-decoration: none;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.header li a:hover {
  color: #DFDFDF;
}
.header button {
  width: 158px;
  height: 40px;
  flex-shrink: 0;
  background: #000;
  color: #FFF;
  border: none;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.header button:hover {
  width: 158px;
  height: 40px;
  flex-shrink: 0;
  background: #DFDFDF;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.logo {
  background-image: url(../img/big.png);
  display: flex;
  width: 100%;
  max-width: 1430px;
  height: 630px;
  flex-shrink: 0;
  margin: 0 auto;
}
.logo .logo_big {
  margin-left: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.logo .logo_big h2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.logo .logo_big h1 {
  width: 387px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.logo .logo_big h3 {
  color: #d4d0d0;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo .logo_big p {
  width: 387px;
  color: #e4d6d6;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.logo .logo_big .logo_min {
  display: flex;
}

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.promo h3 {
  width: 280px;
  color: #FFF;
  margin-top: 310px;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.promo h2 {
  width: 280px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.promo p {
  color: #faf4f4;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.promo .promo_min {
  display: flex;
  gap: 142px;
}
.promo .promo1 {
  background-image: url(../img/big1.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo1:hover {
  transform: translateY(-20px);
}
.promo .promo2 {
  background-image: url(../img/big2.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo2:hover {
  transform: translateY(-20px);
}
.promo .promo3 {
  background-image: url(../img/big3.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo3:hover {
  transform: translateY(-20px);
}
.promo .promo4 {
  background-image: url(../img/big4.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo4:hover {
  transform: translateY(-20px);
}
.promo .promo5 {
  background-image: url(../img/big5.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo5:hover {
  transform: translateY(-20px);
}
.promo .promo6 {
  background-image: url(../img/big6.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo6:hover {
  transform: translateY(-20px);
}
.promo .promo7 {
  background-image: url(../img/big7.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo7:hover {
  transform: translateY(-20px);
}
.promo .promo8 {
  background-image: url(../img/big8.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo8:hover {
  transform: translateY(-20px);
}
.promo .promo9 {
  background-image: url(../img/big9.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo9:hover {
  transform: translateY(-20px);
}
.promo .promo10 {
  background-image: url(../img/big10.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo10:hover {
  transform: translateY(-20px);
}
.promo .promo11 {
  background-image: url(../img/big11.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo11:hover {
  transform: translateY(-20px);
}
.promo .promo12 {
  background-image: url(../img/big12.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo12:hover {
  transform: translateY(-20px);
}
.promo .promo13 {
  background-image: url(../img/big13.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo13:hover {
  transform: translateY(-20px);
}
.promo .promo14 {
  background-image: url(../img/big14.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo14:hover {
  transform: translateY(-20px);
}
.promo .promo15 {
  background-image: url(../img/big15.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo15:hover {
  transform: translateY(-20px);
}
.promo .promo16 {
  background-image: url(../img/big16.png);
  width: 360px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.promo .promo16:hover {
  transform: translateY(-20px);
}

.footer {
  background-color: #000;
  display: flex;
  gap: 109px;
  padding: 64px 170px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.footer .footer_img {
  display: flex;
  gap: 15px;
}
.footer .footer_img img:hover {
  background-color: #BC7198;
}
.footer .footer1 {
  display: flex;
  flex-direction: column;
  gap: 85px;
}
.footer .footer2 {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer .footer2 li {
  list-style: none;
  width: 255px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer .footer2 li a {
  text-decoration: none;
  width: 255px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer .footer2 li a:hover {
  color: #2b2a2a;
}
.footer .footer3 {
  display: flex;
  gap: 19px;
  margin-left: 300px;
  height: 12px;
}
.footer .footer3 h4 {
  color: #FFF;
  text-align: right;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .container {
    margin: 0 auto;
  }
  .logo {
    max-width: 768px;
  }
  .footer .footer2 {
    display: flex;
  }
}
@media (max-width: 723px) {
  .header {
    padding: 30px;
  }
  .header li {
    display: none;
  }
  .header button {
    display: none;
  }
  .logo {
    flex-wrap: wrap;
  }
  .logo .logo_big {
    margin: 0 auto;
    margin-top: 630px;
    background-color: #000;
    padding: 50px;
  }
  .promo {
    margin-top: 465px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .footer .footer_img {
    margin-bottom: 150px;
  }
  .footer .footer1 {
    text-align: center;
  }
  .footer li {
    text-align: center;
  }
  .footer .footer3 {
    margin-left: 30px;
  }
}/*# sourceMappingURL=stories.css.map */