@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500&family=League+Spartan:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0px 50px;
  margin-top: -220px;
}

body {
  font-family: "League Spartan", sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 0;
}

.header {
  width: 100%;
  max-width: 1110px;
  margin-top: 55px;
  display: flex;
  transform: translatey(220px);
  margin-left: -100px;
  gap: 94px;
}
.header .home_img {
  transform: translatex(-5px);
}
.header .head_img img {
  width: 100%;
  max-width: 96px;
  height: 40px;
}
.header .head_min {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}
.header .head_min ul {
  display: flex;
  gap: 60px;
  color: #7D828F;
  list-style: none;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.header .head_min ul li a {
  color: #7D828F;
  text-decoration: none;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.header .head_min ul li a:hover {
  color: black;
}
.header .head_min ul:hover {
  color: black;
}
.header .three {
  display: none;
}

.big {
  background-image: url(../img/Object.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1110px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 56px;
}
.big .big_0 {
  margin-top: 180px;
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.big .big_0 .big1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.big .big_0 .big1 h1 {
  width: 100%;
  max-width: 544px;
  color: #FFF;
  font-family: "League Spartan";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 83.333% */
  letter-spacing: -2px;
}
.big .big_0 .big1 p {
  width: 100%;
  max-width: 445px;
  color: #FFF;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.big .big_0 .big2 button {
  background-color: #1b1d23;
  font-family: "League Spartan";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  width: 252px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.big .big_0 .big2 button:hover {
  background-color: #60636D;
}
.big .button_big {
  display: flex;
  align-items: flex-start;
  margin-top: 105px;
}
.big .big3 {
  display: flex;
  align-items: flex-start;
  transform: translateX(-77px);
}
.big .big3 button {
  width: 80px;
  height: 80px;
  color: #ffffff;
  background-color: #1b1d23;
  text-align: center;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  border: none;
}
.big .big4 {
  transform: translatex(-80px);
  display: flex;
}
.big .big4 button {
  width: 80px;
  height: 80px;
  color: #7d828f;
  border: none;
  text-align: center;
  font-family: "League Spartan";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  background: #fff;
}

.promo {
  display: flex;
  margin-top: 108px;
  width: 100%;
  max-width: 1110px;
}
.promo .promo1 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 940px;
}
.promo .promo1 h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 940px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 230px;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: #eeeff4;
}
.promo .promo1 .promo_min1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 446px;
  height: 483px;
}
.promo .promo1 .promo_min1 h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 89%;
  letter-spacing: -0.03em;
  color: #1b1d23;
}
.promo .promo1 .promo_min1 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #60636d;
}
.promo .img {
  margin-top: 90px;
  width: 100%;
  max-width: 350px;
}

.logo {
  background-image: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1110px;
  height: 560px;
  margin-top: 200px;
}
.logo .logo1 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
  max-width: 545px;
  height: 225px;
  padding: 167px 0px 0px 190px;
}
.logo h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 89%;
  letter-spacing: -0.03em;
  color: #fff;
}
.logo button {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 252px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1B1D23;
}
.logo button:hover {
  background-color: #60636D;
}

.small {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin-top: 200px;
}
.small h3 {
  font-weight: 700;
  font-size: 72px;
  line-height: 89%;
  letter-spacing: -0.03em;
  color: #1b1d23;
}
.small button {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 170px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1B1D23;
}
.small button:hover {
  background-color: #60636D;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  width: 100%;
  max-width: 1110px;
}
.info h2 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 250px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;
  opacity: 0.5;
}
.info h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
}
.info h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.info .little {
  display: none;
}
.info .miin {
  padding: 220px 0px 40px 40px;
  width: 100%;
  max-width: 250px;
  height: 64px;
}
.info .info1 {
  background-image: url(../img/Bitmap\ \(1\).png);
  width: 100%;
  max-width: 350px;
  height: 560px;
}
.info .info2 {
  background-image: url(../img/Bitmap\ \(2\).png);
  width: 100%;
  max-width: 350px;
  height: 560px;
}
.info .info3 {
  background-image: url(../img/Bitmap\ \(3\).png);
  width: 100%;
  max-width: 350px;
  height: 560px;
}

.see-all-2 {
  display: none;
  color: #FFF;
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 100%;
  height: 72px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #1B1D23;
  margin-top: 24px;
}

.footer {
  width: 100%;
  max-width: 1210px;
  margin: 200px auto 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.footer .bg-grey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 984px;
  background: #EEEFF4;
  margin-right: -120px;
  padding-right: 140px;
}
.footer .bg-grey .footer-nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .bg-grey .footer-nav .footer1 {
  padding: 49px 32px;
  background: #1b1d23;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bg-grey .footer-nav .footer1 img {
  width: 100%;
  max-width: 96px;
  height: 40px;
}
.footer .bg-grey .footer-nav .footer2 {
  width: 100%;
  max-width: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer .bg-grey .footer-nav .footer2 li {
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  color: #7d828f;
  text-decoration: none;
  list-style: none;
}
.footer .bg-grey .footer-nav .footer2 li a {
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  color: #7d828f;
}
.footer .bg-grey .footer-nav .footer2 li a:hover {
  color: #000;
}
.footer .bg-grey .footer-nav .footer2 li:hover {
  color: #000;
}
.footer .footer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  color: #FFF;
  font-family: "League Spartan";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  width: 100%;
  max-width: 252px;
  height: 72px;
  background: #1B1D23;
}
.footer button:hover {
  background-color: #60636D;
}

@media (max-width: 850px) {
  .container {
    max-width: 615px;
    padding: 0 20px;
  }
  .big .big_0 {
    margin-left: -5px;
    padding: 30px;
  }
  .big .button_big {
    display: none;
  }
  .promo .img {
    display: none;
  }
  .promo .promo_min h1 {
    position: relative;
    font-size: 120px;
    line-height: 167%;
    letter-spacing: -0.03em;
  }
  .logo {
    width: 100%;
    max-width: 573px;
    height: 560px;
  }
  .logo .logo1 {
    margin-left: -150px;
  }
  .info {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .info .info1 {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/street1.png);
    max-width: 573px;
    height: 240px;
  }
  .info .info1 .miin h3 {
    margin-top: 200px;
  }
  .info .info2 {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/street2.png);
    max-width: 573px;
    height: 240px;
  }
  .info .info2 .miin h3 {
    margin-top: 200px;
  }
  .info .info3 {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/street3.png);
    max-width: 573px;
    height: 240px;
  }
  .info .info3 .miin h3 {
    margin-top: 200px;
  }
  .footer {
    flex-grow: 1;
    margin: 200px 0 0;
    padding: 0;
  }
  .footer .bg-grey {
    max-width: 612px;
    gap: 40px;
  }
  .footer .bg-grey .footer-nav {
    gap: 40px;
  }
  .footer .bg-grey .footer-nav .footer1 {
    max-width: 120px;
    height: 120px;
  }
  .footer .bg-grey .footer-nav .footer1 img {
    width: 58px;
    height: 24px;
  }
}
@media (max-width: 522px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .head_min {
    display: none;
  }
  .header .head_min ul {
    display: none;
  }
  .header .head_min ul li {
    display: none;
  }
  .header .head_min ul li a {
    display: none;
  }
  .header .three {
    display: block;
  }
  .big .big_0 .big1 h1 {
    max-width: 311px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #fff;
  }
  .info .info1 .min h2 {
    display: none;
  }
  .info .info1 .miin h3 {
    margin-top: -43px;
  }
  .info .info2 {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/street2.png);
    max-width: 573px;
    height: 240px;
  }
  .info .info2 .min h2 {
    display: none;
  }
  .info .info2 .miin h3 {
    margin-top: -43px;
  }
  .info .info3 {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/street3.png);
    max-width: 573px;
    height: 240px;
  }
  .info .info3 .min h2 {
    display: none;
  }
  .info .info3 .miin h3 {
    margin-top: -43px;
  }
  .small {
    display: flex;
    flex-direction: column;
  }
  .small button {
    display: none;
  }
  .see-all-2 {
    display: flex;
  }
  .promo .promo_min {
    display: none;
  }
  .footer {
    flex-direction: column;
    margin-top: 255;
  }
  .footer .bg-grey {
    flex-direction: column;
    margin-right: 0;
    padding: 0;
  }
  .footer .bg-grey .footer-nav {
    max-width: 600px;
    flex-direction: column;
    gap: 0;
    margin-bottom: 151px;
  }
  .footer .bg-grey .footer-nav .footer1 {
    transform: translateY(-55px);
  }
  .footer .bg-grey .footer-nav .footer2 {
    flex-direction: column;
    gap: 32px;
  }
  .footer .footer3 {
    margin: -121px auto 48px;
  }
}/*# sourceMappingURL=style.css.map */