@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500&family=League+Spartan:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   outline: 2px solid rgb(255, 213, 0);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   width: 100%;
    max-width: 1440px;
   box-sizing: content-box; 
   margin: 0 auto;
}
.header{
    width: 100%;
    max-width: 1110px;
margin-top: 55px;
display: flex;

gap: 94px;

.head_min{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
  li{
    display: flex;
    gap: 60px;
    color: #7D828F;
    list-style: none;
font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px;
  
    li a{
       
        color: #7D828F;
        text-decoration: none;
font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px;
     
    }
    li a:hover{
        color: black;
      }
  }
 
}
}
.big{
    background-image: url(../img/Object.png);
    width: 100%;
    max-width: 1110px;
height: 720px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.big1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        width: 100%;
        max-width: 544px;

color: #FFF;

font-family: "League Spartan";
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 83.333% */
letter-spacing: -2px;
    }
    p{
        width: 100%;
        max-width: 445px;

color: #FFF;

font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
    }
}
.big2{

    button{
        color: #FFF;
font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px;
        width: 252px;
height: 72px;
flex-shrink: 0;
display: flex;
justify-content: space-around;
align-items: center;
background: #1B1D23;
    }
}
.big3{
    display: flex;
    // padding:320px 945px 0pc 0px;
    margin-top: 320px;
    transform: translateX(-475px);
    button{
        width: 80px;
height: 80px;
color: #7D828F;

text-align: center;
font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px; 
border: none;
    }
.big4{

    button{
        width: 80px;
height: 80px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: "League Spartan";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px;
background: #1B1D23;
    }
}
}
}