@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  //  outline: 2px solid rgb(255, 213, 0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1440px;
background-color: #F1F1F1;
  margin: 0 auto;
  box-sizing: content-box;

}
.header{
  width: 100%;
  max-width: 1220px;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  .head1{
    display: flex;
    gap: 53px;
    align-items: center;
  }
  .head2{
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .tre{
    img{
      display: none;
    }
  }
  .min{
    display: flex;
    gap: 53px;
    li{
       color: #686868;
      list-style: none;
      font-family: Epilogue;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
    
  }
  li a{
      text-decoration: none;
    color: #686868;
      font-family: Epilogue;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
  }
  }
  button{
    width: 104px;
height: 42px;
flex-shrink: 0;
color: #686868;
border-radius: 14px;
  }
}
.big{
  margin-top: 50px;
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .big1{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .min{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
h1{
  width: 100%;
  max-width: 540px;

color: var(--Black, #151515);
font-feature-settings: 'clig' off, 'liga' off;
/* Heading L */
font-family: Epilogue;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 100% */
letter-spacing: -1.111px;
}
p{
  width: 100%;
  max-width: 445px;

color: var(--Medium-Grey, #686868);
font-feature-settings: 'clig' off, 'liga' off;
/* Body M */
font-family: Epilogue;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
button{
  width: 163px;
height: 56px;
flex-shrink: 0;

border-radius: 15px;
background: var(--Black, #151515);
color: #fff;
}
.img1{
  img{
    width: 100%;
    max-width: 700px;
    display: none;
  }
}
}
@media(max-width:890px){
  .header{
    padding: 20px;
    li{
    display: none;
    }
    button{
      display: none;
    }
    .tre{
      display: block;
      img{
        display: block;
      }
    }
  }
  .big{
    flex-direction: column-reverse;
    .min{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
h1{
  max-width: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  max-width: 600px;
}
    }
    .img{
      img{
        display: none;
      }
    }
    .img1{
      img{
        display: block;
      }
    }
  }
}


