@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500&family=League+Spartan:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    width: 100%;
    max-width: 1210px;
    // box-sizing: content-box;
    margin: 0 auto;
    padding: 0 50px;
    font-family: "League Spartan", sans-serif;
}
.header{
    width: 100%;
    max-width: 1110px;
margin-top: 55px;
display: flex;

gap: 94px;
.head_img{
    img{
        width: 100%;
        max-width: 96px;
height: 40px;
    }
}
.head_min{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
  ul{
    display: flex;
    gap: 60px;
    color: #7D828F;
    list-style: none;
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  
    li a{
       
        color: #7D828F;
        text-decoration: none;
        font-family: "League Spartan";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
    &:hover{
        color: black;
    }
    }
    &:hover{
        color: black;
      }
  }
 
 
}
.three{
    display: none;
}
}
.big{
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 56px;
    h2{
        font-weight: 700;
font-size: 32px;
line-height: 125%;
color: #fff;
    }
    h3{
        font-weight: 500;
font-size: 18px;
line-height: 133%;
color: #fff;
opacity: 0.75;

    }
    .big1{
        background-image: url(../img/famous4.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big2{
        background-image: url(../img/famous5.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big3{
        background-image: url(../img/famous6.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big4{
        background-image: url(../img/famous7.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big5{
        background-image: url(../img/Bitmap\ \(1\).png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big6{
        background-image: url(../img/Bitmap\ \(3\).png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big7{
        background-image: url(../img/famous8.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big8{
        background-image: url(../img/famous9.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big9{
        background-image: url(../img/famous10.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;

    }
    .big10{
        background-image: url(../img/famous11.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big11{
        background-image: url(../img/famous12.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    .big12{
        background-image: url(../img/famous14.png);
        width: 100%;
        max-width: 350px;
        height: 560px;
        padding: 450px 0px 40px 40px;
    }
    
}
.footer {
    margin-top: 200px;

    .bg-grey {
        

        width: 100%;
        max-width: 984px;
        background: #eeeff4;
        display: flex;
        align-items: center;
        justify-content: space-between;


       .footer-nav{
        width: 100%;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer1 {
            // width: 100%;
            // max-width: 200px;
            // height: 200px;
            padding: 49px 32px;

            background: #1b1d23;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
            
                width: 100%;
                max-width: 96px;
                height: 40px;
            }
        }

        .footer2 {
            width: 100%;
            max-width: 313px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 50px;

            li {
                font-weight: 700;
                font-size: 18px;
                line-height: 139%;
                color: #7d828f;
                text-decoration: none;
                list-style: none;

                a {
                    text-decoration: none;
                    list-style: none;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 139%;
                    color: #7d828f;

                    &:hover {
                        color: #000;
                    }
                }

                &:hover {
                    color: #000;
                }
            }
        }
       }

    }

    .footer3 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        // transform: translatex(120px);
        // // width: 100%;
        margin-right: -120px;        
        color: #FFF;
        font-family: "League Spartan";
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        width: 100%;
        max-width: 252px;
        height: 72px;   
        // flex-shrink: 0;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        background: #1B1D23;
    }
}
@media(max-width:650px){
    .container{
        max-width: 615px;
        padding: 0 20px;
    }
    .big{

      .big1{
        background-image: url(../img/rat1.png);
        max-width: 573px;
        height: 240px;
        padding: 145px 0px 0px 40px;
      }
      .big2{
        background-image: url(../img/rat2.png);
        max-width: 573px;
        height: 240px;
        padding: 145px 0px 0px 40px;
      }
.big3{
    background-image: url(../img/rat3.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big4{
    background-image: url(../img/rat4.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big5{
    background-image: url(../img/rat5.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big6{
    background-image: url(../img/rat6.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big7{
    background-image: url(../img/rat7.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big8{
    background-image: url(../img/rat8.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big9{
    background-image: url(../img/rat9.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big10{
    background-image: url(../img/rat10.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big11{
    background-image: url(../img/rat11.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
  .big12{
    background-image: url(../img/rat12.png);
    max-width: 573px;
    height: 240px;
    padding: 145px 0px 0px 40px;
  }
 
}
.footer{
    .bg-grey{
        max-width: 612px;
        height: 120px;
        .footer1{
            width: 120px;
height: 120px;
img{
width: 58px;
height: 24px;
}
        }
    }
}
.footer{
.bg-grey{
width: 612px;
height: 120px;
}
.footer-nav{
.footer1{
max-width: 120px;
height: 120px;
img{
width: 58px;
height: 24px;
}
}
}
}
}
    
    @media(max-width:500px){
        .header{
            display: flex;
            justify-content: space-between;
            .head_img{
                img{
                    max-width: 77px;
        height: 32px;
                }
            }
            .head_min{
                display: none;
               ul{
                display: none;
                li{
                    display: none;
                    a{
                        display: none;
                    }
                }
               }
            }
            .three{
                display: block;
            }
        }
        .big{
            .big1{
                background-image: url(../img/smell1.png);
                max-width: 311px;
                height: 240px; 
             
            }
            .big2{
                background-image: url(../img/smell2.png);
                max-width: 311px;
                height: 240px; 
            }
            .big3{
                background-image: url(../img/smell3.png);
                max-width: 311px;
                height: 240px; 
            }
            .big4{
                background-image: url(../img/smell4png.png);
                max-width: 311px;
                height: 240px; 
            }
            .big5{
                background-image: url(../img/smell5.png);
                max-width: 311px;
                height: 240px; 
            }
            .big6{
background-image: url(../img/smell6png.png);
max-width: 311px;
height: 240px; 
            }
            .big7{
                background-image: url(../img/famous7.png);
                max-width: 311px;
                height: 260px; 
            }
            .big8{
                background-image: url(../img/smell8.png);
                max-width: 311px;
                height: 240px; 
            }
            .big9{
                background-image: url(../img/smell10.png);
                max-width: 311px;
                height: 240px; 
            }
            .big10{
                background-image: url(../img/smell11.png);
                max-width: 311px;
                height: 240px; 
            }
            .big11{
                background-image: url(../img/smell2.png);
                max-width: 311px;
                height: 240px; 
            }
            .big12{
                background-image: url(../img/smell3.png);
                max-width: 311px;
                height: 240px; 
            }
        }
      
        .footer {
            display: flex;
            flex-direction: column;
            gap: 40px;
    
            .bg-grey {
                display: flex;
                flex-direction: column;
                gap: 40px;
                max-width: 370px;
                height: 444px;
    .footer-nav{
        display: flex;
        flex-direction: column;
        max-width: 370px;
        height: 444px;
    }
                .footer2 {
                    display: flex;
                    flex-direction: column;
    
                }
            }
    
            .footer3 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0px;
    
                button {
            
                }
            }
        } 
    }
