@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500&family=League+Spartan:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    width: 100%;
    max-width: 1210px;
    // box-sizing: content-box;
    margin: 0 auto;
    padding: 0 50px;
    font-family: "League Spartan", sans-serif;
    margin-top: -220px;
}
body{
    font-family: "League Spartan", sans-serif;
}

// button{
//     border: none;
//     outline: none;
//     cursor: pointer;
//     line-height: 0;
  
// }

.header{
    width: 100%;
    max-width: 1110px;
    margin-top: 55px;
    display: flex;
transform: translatey(220px);
margin-left: -100px;
    gap: 94px;
margin-bottom: -100px;
.home_img{
    transform: translatex(-5px);
}
.head_img{
    img{
        width: 100%;
        max-width: 96px;
height: 40px;
    }
}
.head_min{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
  ul{
    display: flex;
    gap: 60px;
    color: #7D828F;
    list-style: none;
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  
    li a{
       
        color: #7D828F;
        text-decoration: none;
        font-family: "League Spartan";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
    &:hover{
        color: black;
    }
    }
    &:hover{
        color: black;
      }
  }
 
 
}
.three{
    display: none;
}
}
.big {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1110px;
    // height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
    .bigger0{
    display: flex;
    justify-content: end;
    align-items: end;
    background-repeat: no-repeat;
    background-image: url(../img/noutbukman.jpg);
    background-color:#FFF;
    height: 720px;
    width: 100%;
    
    
    .run{
        
        width: 100%;
        max-width: 793px;
// height: 503px;
background-color:#FFF;
margin-right: -165px;

h1{
    width: 100%;
    max-width: 645px;
    height: 200px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 250px;
line-height: 80%;
letter-spacing: -0.02em;
// text-align: right;
color: #eeeff4;
transform: translatey(-85px);
margin-left: -20px;

}
.run_min{
    // padding: 0px 160px 2px 180px;
//     max-width: 446px;
// height: 341px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 54px;
margin:0 auto;
h2{
width: 446px;
height: 138px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 72px;
line-height: 89%;
letter-spacing: -0.03em;
color: #1b1d23;
}
p{
    width: 445px;
    height: 96px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 133%;
color: #60636d;
}
}
    }
}
    .bigger2{
        width: 100%;
        max-width: 1110px;
        display: flex;
        gap: 124px;
        margin-top: 200px;
        img{
            width:100% ;
            max-width: 540px;
            height: 568px;
        }
        .run_min1{
            display: flex;
            flex-direction: column;
            gap: 22px;
            img{
                width: 65px;
                height: 1px;
            }
        }

        h2{
            margin-top: 30px;
            width: 100%;
            max-width: 346px;
            height: 123px;
            font-family: var(--font-family);
font-weight: 700;
font-size: 72px;
line-height: 89%;
letter-spacing: -0.03em;
color: #1b1d23;
        }
        p{
            width: 100%;
            max-width: 445px;

            font-family: var(--font-family);
            
font-weight: 500;
font-size: 18px;
line-height: 133%;
color: #60636d;
        }
    }
    .bigger3{
        display: flex;
       margin-top: 200px;
       gap: 50px;
       img{
        width: 100%;
        max-width: 350px;
        height: 320px;
       }
        h2{
            font-family: var(--font-family);
font-weight: 700;
font-size: 72px;
line-height: 89%;
letter-spacing: -0.03em;
color: #1b1d23;
        }
        h3{
            font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 125%;
color: #1b1d23;
        }
        p{
            font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 133%;
color: #1b1d23;
opacity: 0.75;
        }
        .run_min2{
            display: flex;
            flex-direction: column;
            gap: 60px;
            .image{
                display: flex;
                gap: 30px;
            }
            .image2{
                display: flex;
                gap: 30px;
            }
        }
    }
}


.footer {
    width: 100%;
    max-width: 1210px;
    margin: 200px auto 0;
    padding: 0 50px;
    display: flex;
    align-items: center;

    .bg-grey{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        max-width: 984px;
        background: #EEEFF4;
        margin-right: -120px;
        padding-right: 140px;

        .footer-nav {
            width: 100%;
            max-width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .footer1 {
                padding: 49px 32px;
                background: #1b1d23;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 100%;
                    max-width: 96px;
                    height: 40px;
                }
            }
    
            .footer2 {
                width: 100%;
                max-width: 313px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
    
                li {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 139%;
                    color: #7d828f;
                    text-decoration: none;
                    list-style: none;
    
                    a {
                        text-decoration: none;
                        list-style: none;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 139%;
                        color: #7d828f;
    
                        &:hover {
                            color: #000;
                        }
                    }
    
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }

    .footer3 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        // margin-left: -120px;
        color: #FFF;
        font-family: "League Spartan";
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        width: 100%;
        max-width: 252px;
        height: 72px;
        background: #1B1D23;
    }
   
    button:hover{
        background-color: #60636D;
    
    }
}
// @media(max-width:800px){
//     .container{
//         max-width: 615px;
//         padding: 0 20px;
//     }
    
// .footer {
//     flex-grow: 1;
//     margin: 200px 0 0;
//     padding: 0;
//     .bg-grey {
//         max-width: 612px;
//         gap: 40px;
//         .footer-nav {
//             gap: 40px;
//             .footer1 {
//                 max-width: 120px;
//                 height: 120px;

//                 img {
//                     width: 58px;
//                     height: 24px;
//                 }
//             }
//         }
//     }
// }

    
@media(max-width:850px){
        .container{
                    max-width: 615px;
                    padding: 0 20px;
                }
        .header{
           margin-left: 17px;
            display: flex;
            justify-content: space-between;
            .home_img1{
                display: none;
                img{
                    display: none;
                }
            }
            .head_img{
                img{
                    max-width: 77px;
        height: 32px;
                }
            }
            .head_min{
                display: none;
               ul{
                display: none;
                li{
                    display: none;
                    a{
                        display: none;
                    }
                }
               }
            }
            .three{
                display: block;
            }
        }
        .big{
            margin-top: 350px;
        //     .bigger1{
        //         .run_min{
        //        margin-top: 100px;
        //     //    width: 100%;
        //     //    max-width: 572px;
        //        height: 431px;
        //         h1{
                
        //         font-size: 120px;
                
                    
        //         }
        // h2{
        //     width: 455px;
        //     font-family: var(--font-family);
        // font-weight: 700;
        // font-size: 72px;
        // line-height: 89%;
        // letter-spacing: -0.03em;
        // color: #1b1d23;
        // }
        // p{
        //     width: 455px;
        //     font-family: var(--font-family);
        // font-weight: 500;
        // font-size: 18px;
        // line-height: 133%;
        // color: #60636d;
        // }
        
               
        //       }
             
            
              
        //     }
        .run{
            h1{
                width: 390px;
                height: 200px;
                font-size: 120px;
            }
        }
//         .run_min{

// padding: 5px;        
//         }
            .bigger2{
                .look{
                  display: none;
                  img{
                      display: none;
                  }
                }
                 .run_min1{
                    p{
                        width: 100%;
                        max-width: 683px;
                        font-family: var(--font-family);
                        font-weight: 500;
                        font-size: 19px;
                        line-height: 133%;
                        color: #60636d;
                    }
                 }
                }
                .bigger3{
                    flex-direction: column;
                   }
        }
     
          .footer {
            flex-grow: 1;
            margin: 200px 0 0;
            padding: 0;
            .bg-grey {
                max-width: 612px;
                gap: 40px;
                .footer-nav {
                    gap: 40px;
                    .footer1 {
                        max-width: 120px;
                        height: 120px;
        
                        img {
                            width: 58px;
                            height: 24px;
                        }
                    }
                }
            }
        }
   
    
    }
   
   
   
   
   
   
    @media(max-width:535px) {
        .header {
            display: flex;
            justify-content: space-between;
    
            .head_img {
                img {
                    max-width: 77px;
                    height: 32px;
                }
            }
    
            .head_min {
                display: none;
    
                ul {
                    display: none;
    
                    li {
                        display: none;
    
                        a {
                            display: none;
                        }
                    }
                }
            }
    
            .three {
                display: block;
            }
        }
       .run_min2{
      .image{
        display: flex;
        flex-direction: column;
      }
      .image2{
        display: flex;
        flex-direction: column;
      }
       }
       .run{
       
       margin-bottom: -30px;
        // transform: translatex(-150px);
      
        h1{
            display: none;
        }
      .run_min{
        width: 320px;
        h2{
            width: 311px;
            height: 102px;
            font-size: 48px;
        }
      }
       }
        .footer {
            flex-direction: column;
            margin-top: 255;
            .bg-grey {
                flex-direction: column;
                margin-right: 0;
                padding: 0;
                
                .footer-nav {
                    max-width: 600px;
                    flex-direction: column;
                    gap: 0;
                    margin-bottom: 151px;
    
                    .footer1{
                        transform: translateY(-55px);
                    }
    
                    .footer2 {
                        flex-direction: column;
                        gap: 32px;
                    }
                }
            }
            .footer3 {
                margin: -121px auto 48px;
            }
        }
    }
   